#cloud-config
users:
  - default
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4zWuKy/SSaIiOunE4m9eFUqNrSv4Nq0zkLIDPOOmALdFiw3LCESjz/omXMW+YVP5ZfzXG/OggebogEd4hRI/ao8e2Ipn2jIeRfvxOitWgwmY/pTmcGVv3Gezp7PJis+Fct+LumuRU5sfHM0sXZX72NzzpbIwn4usFMOxxFWim4bh+vGwZpX4GzpxXvJGvMJ7JR99J3XLXfXb7BokhjiknwrsGYyCIx2CZWi+ssKK0pzmbSyybU4flEfrP+MKpR2C2ef094qPi7hN9jhfRr9pj5kIO0WTuuDmf/bHGXf1Gq6kjTOSYKmvhVZBQJRfyfPGO+evOK6xtAQTJPj/ajSSf
